<script type="text/javascript">
  function init() {
      initCarousel2();
      return;
  }
  $(document).ready(init);
</script>
<div class="jumbotron">
  <h1>Tennis Matchmaker</h1>
  <p>A simple and easy web application to locate tennis partners and arrange
  tennis matches at any time.</p>
  <!--<div class="row">
    <%= link_to "/auth/google_oauth2", class: "btn btn-danger" + (current_user ? " disabled" : "") do %>
    <span class="glyphicon glyphicon-log-in"></span><br>Register / Sign in<% end %>
    <%= image_tag("right-grey-arrow-hi.png", alt: "&gt;", size: "20x20", style: "margin: 0px 12px") %>
    <%= link_to "/view_profile", class: "btn btn-warning" + (!current_user ? " disabled" : "") do %>
    <span class="glyphicon glyphicon-user"></span><br>Setup Profile<% end %>
    <%= image_tag("right-grey-arrow-hi.png", alt: "&gt;", size: "20x20", style: "margin: 0px 12px") %>
    <%= link_to "/find_matches", class: "btn btn-success" + (!current_user ? " disabled" : "") do %>
    <span class="glyphicon glyphicon-search"></span><br>Find Matches<% end %>
    <%= image_tag("right-grey-arrow-hi.png", alt: "&gt;", size: "20x20", style: "margin: 0px 12px") %>
    <%= link_to new_match_path, class: "btn btn-primary" + (!current_user ? " disabled" : "") do %>
    <span class="glyphicon glyphicon-plus"></span><br>Create Match<% end %>
    <%= image_tag("right-grey-arrow-hi.png", alt: "&gt;", size: "20x20", style: "margin: 0px 12px") %>
    <%= link_to matches_path, class: "btn btn-info" + (!current_user ? " disabled" : "") do %>
    <span class="glyphicon glyphicon-calendar"></span><br>My Matches<% end %>
  </div>-->
</div>
<div class="row">
  <div class="col-md-6">
    <%= image_tag("home-flowchart-small.png", alt: "Tennis Matchmaker", size: "496x690", class: "center-block") %>
  </div>
  <div class="col-md-6">
    <section id="carousel2-container"><div id="carousel2"></div></section>
  </div>
</div>
