<%= bootstrap_form_for(@match, layout: :horizontal, label_col: "col-lg-2 control-label", control_col: "col-lg-10", :html => {:style => "width:55%;"}) do |f| %>
  <fieldset>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.select :match_type, options_for_select(%w[Single Double]) %>
<%= f.datetime_select :start %>
<%= f.datetime_select :end %>
<%= f.text_field :court, :style => "resize: none" %>
<%= f.text_area :desc, :style => "resize: none" %>
<%= f.submit "Reset", :type => "reset" %>
<%= f.submit "Submit", :class => "btn btn-primary" %>
</fieldset>
<% end %>
<br />
