<%= bootstrap_form_for(@match, layout: :horizontal, label_col: "col-lg-2 control-label", control_col: "col-lg-10", :html => {:style => "width: 65%;"}) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>
      <ul>
        <% @match.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="row">
      <div class="col-lg-11">
      <%= f.select :match_type, Match::GENDER_VALID_MATCH_TYPES[
        current_user.gender], label: "Match type" %>
      </div>
      <div class="col-lg-1">
        <span class="has_popover glyphicon glyphicon-question-sign" data-toggle="popover" title="" data-content="Men/Women specified games are when you want to versus player with your own gender. Mixed double will specify to only allow exactly 2 men and 2 women to join the match."></span>
      </div>
    <div class="form-groupni">
      <label class="control-label col-lg-2 control-label">
	Start
      </label>ni
      <div class="col-lg-9">
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" id="match_start" name="match[start]"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-edit"></span>
          </span>
        </div>
      </div>
      <span id="start_q" class="has_popover glyphicon glyphicon-question-sign" data-toggle="popover" title="" data-content="Specify the date/time that you want to start."></span>
      <script type="text/javascript">
        $(function () {
        $('#datetimepicker1').datetimepicker({
	viewMode:'years',
	sideBySide:true,
	format:"MMMM Do, YYYY HH:mm"});
        });
      </script>
    </div>

    <%= f.form_group :duration, label: {text: "Duration"} do %>
      <div class="rails-bootstrap-forms-datetime-select">
        <%= f.select_without_bootstrap :duration_days, (0..4).to_a, {}, { class: "form-control" } %>
        days
        <%= f.select_without_bootstrap :duration_hours, (0..23).to_a, {}, { class: "form-control" } %>
        hours
        <span id="dur" class="has_popover glyphicon glyphicon-question-sign" data-toggle="popover" title="" data-content="Days represents the how during which days are you free to play starting from the start date, and Hours represent the hour that you want to play for. Read more in Faq"></span>
      </div>
    <% end %>

    <%= f.text_field :court, :placeholder => "Court that you want to play at..", label: "Tennis court" %>
   <div class = "row" >
    <div class='col-md-10'>
    <%= f.text_field :postcode, label: "Postcode" %>
  </div >
    <div class='col-md-2'> 
    <button class = "btn btn-info" onclick="initialize()">Refresh</button>
  </div>
</div>
    <%= f.form_group :country, label: {text: "Country"} do %>
    <%= f.country_select :country, { priority_countries: [current_user.country]}, { class: "form-control" } %>
    <% end %>

    <%= f.text_area :desc, :placeholder => "Any additional information that you would like to add...",label: "Description", style: "resize: none" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= f.submit "Reset", type: "reset" %>
    </div>
  </fieldset>

<% end %>




<div id="map-container">
  <div id="map-canvas"></div>
</div>
<style> 
  
 #start_q{
    margin-top: 30px;
    margin-left: 5px;
 }

 #dur{
    margin-left: 20px;
 }

 .glyphicon.glyphicon-question-sign{
    font-size: 25px;
    margin-top: 5px;
  }

 #map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #map-canvas {
   height: 384px;
   width: 100%;
 }
 html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
 }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places,visualization"></script>
<script>
var map;
var infoWindow;
var service;


$(".has_popover").popover({trigger: "hover"});




function initialize() {
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    <% postcode = @match.postcode or current_user.postcode or 3000%>
    <% country_code = @match.country %>

    <% lat_long = get_lat_long(postcode, country_code ) %>

    center: new google.maps.LatLng(<%= lat_long[0] %>, <%= lat_long[1] %>),
    zoom: 14,
    styles: [
      {
       
      },
      {
        elementType: 'labels',
        stylers: [
          { visibility: 'on' }
        ]
      }
    ]
  });
 
  infoWindow = new google.maps.InfoWindow();
  service = new google.maps.places.PlacesService(map);
 
  google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch);
}
 
function performSearch() {
  var request = {
    bounds: map.getBounds(),
    keyword: 'tennis'
  };
  service.radarSearch(request, callback);
}
 
function callback(results, status) {
  if (status != google.maps.places.PlacesServiceStatus.OK) {
    alert(status);
    return;
  }
  for (var i = 0, result; result = results[i]; i++) {
    createMarker(result);
  }
}
 
function createMarker(place) {
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location,
   
  });
 
  google.maps.event.addListener(marker, 'click', function() {
    service.getDetails(place, function(result, status) {
      if (status != google.maps.places.PlacesServiceStatus.OK) {
        alert(status);
        return;
      }
      infoWindow.setContent(result.name);
      infoWindow.open(map, marker);
    });
  });
}
 
google.maps.event.addDomListener(window, 'load', initialize);
 
    </script>
    
