<h1>Listing matches</h1>

<script type="text/javascript">
  function init() {
      initCarousel();
      return;
  }
  $(document).ready(function() { init(); });   
</script>
<section id="carousel-container">
  <div id="carousel" data-carousel-current-panel-index="0">
    <% @match_distances[0..3].each do |match_id, dist|
          match = Match.find_by(id:match_id)
          user = User.find_by(id:match.player1_id)%>
      <figure class="carousel-panel"><div class="carousel-content">
        <% if user.image %>
          <%= image_tag(user.image, options={alt: user.name}) %>
        <% end %>
        <h2><%= user.name %></h2>
	<p><%= match.start%></p>
	<p><%= match.end%></p>
	<p><%= match.match_type%></p>
      </div></figure>
    <% end %>
  </div>
  <a id="prev" class="carousel-button" href="#" title="Next developer">Previous</a>
  <a id="next" class="carousel-button" href="#" title="Previous developer">Next</a>
</section>



<br>
<br>

<%= link_to 'New Match', new_match_path,:class=>"btn btn-success btn-block" %>

<br>
<br>
