<script type="text/javascript">
  /**
   * toggleMe(id) - Toggle the visibility of a question and its bullet point
   *                image in the FAQ page.
   * id - id of the question's HTML div tag.
   */
  function toggleMe(id) {
      var questionE = document.getElementById(id),
      imageE = document.getElementById(id + "_image");
      if (!questionE || !imageE) return true;
      if (questionE.style.display == "block") {
          questionE.style.display = "none";
          imageE.src = "assets/bullet-point.png";
      } else {
          questionE.style.display = "block";
          imageE.src = "assets/bullet-point-opened.png";
      }
      return false;
  }
</script>
<h1>Frequently asked questions</h1>
<p>Have a problem? Check out our FAQ to see if you can find a solution to your
problem. If you can't, feel free to contact us at john_smith@email.com.</p>

<h3><a href="#" onclick="return toggleMe('question-1')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-1_image") %>
Why use tennis matchmaker?
</a></h3>
<div id="question-1" style="display: none;"><p>
Tennis matchmaker is a web application designed to help and ease users with
finding suitable tennis partner(s) and arrange tennis matches. We want to help
the community in enjoying the game of tennis, and spread everyone's passion and
enthusiasm for it. Tennis matchmaker is simple and easy to use, and conveniently
provides the ability to keep track of your upcoming tennis games and arrange new
ones.
</p></div>

<h3><a href="#" onclick="return toggleMe('question-2')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-2_image") %>
How do I start?
</a></h3>
<div id="question-2" style="display: none;"><p>
First, make sure you have a Google+ account; if you don't then you would need to
create one. Simply sign in with your Google account and complete the
registration process. After completing the registration, the option to find and
create match options will be available:</p>
<ul>
  <li>Find Matches: Look for existing matches created by other users, and see if
  any interests you. If the settings of the match suit you, click on the "Match
  Page" button, and then click the "Join/Leave" button to join the match in
  order to join match.</li>
  <li>Create Match: Create your own match with the settings of your own liking.
  Other players will be able to find and join your match.</li> 
</ul>
<p>Once you have either created or found a match and joined it, you can go to
the "My Matches" page to look at your upcoming or previous matches. 
</p></div>

<h3><a href="#" onclick="return toggleMe('question-3')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-3_image") %>
How does the matchmaking system work?
</a></h3>
<div id="question-3" style="display: none;"><p>
Our system will look up your location with your postcode, and search for other
users who reside close to your area, sharing a similar skill level. It will then
recommend you with suitable matches to play tennis! Specified court locations
for a match are also considered in the recommendation of matches.
</p></div>

<h3><a href="#" onclick="return toggleMe('question-4')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-4_image") %>
How does the skill rating work? What skill bracket is most suitable to me?
</a></h3>
<div id="question-4" style="display: none;"><p>
Skill rating is just a rough estimate and a self assessment of yourself. This is
so that we can help users look for other people who share a similar skill level
to ensure recommended games are as challenging and fair as possible. If you find
yourself winning or losing many games against people who are in your skill
bracket, it is recommended that you update your skill level to an appropriate
one.<br>
This is just a rough guideline for yourself to assess your skill level
(ranked in ascending order):</p>
<ul>
  <li>Beginner: (Never or just started playing tennis)</li>
  <li>Rookie: (Learnt basic skills and knowledge of the game. Estimated experience: 1-2 years)</li>
  <li>Amateur: (Decent at the game, has knowledge of every aspect of tennis. Estimated experience: 2-4 years)</li>
  <li>Intermediate: (Comfortable in the game of tennis, and can play tennis at a high level. Must know all fundamentals of tennis. Estimated experience: 3-6 years)</li>
  <li>Professional: (Very proficient at tennis, and can play tennis at a very high level. Estimated experience: Competitive A-grade level minimum (local competitions))</li>
</ul>
</div>

<h3><a href="#" onclick="return toggleMe('question-5')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-5_image") %>
I can't attend the match that I arranged today. What should I do?
</a></h3>
<div id="question-5" style="display: none;"><p>
You should notify your tennis matchmaker partner(s) as soon as possible
in any way, either by our inbuilt messenger or through other other means
(eg. Facebook, SMS, etc). It is recommended that players occassionally check
their message box 1 hour prior to their match to be updated of
any attendance problems.
</p></div>

<h3><a href="#" onclick="return toggleMe('question-6')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-6_image") %>
I need to update some of the details on my profile. How do I edit my profile?
</a></h3>
<div id="question-6" style="display: none;"><p>
Make sure you have signed in with your Google account, then click on your name
in the navigation bar located on the top right corner of the webpage. A dropdown
menu with a link "View profile and messages" will appear. Click on that and you
will be directed to your profile page, where you should find an edit button to
update any of your profile details.
</p></div>

<h3><a href="#" onclick="return toggleMe('question-7')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-7_image") %>
The duration setting in the "Create Match" form is confusing.
</a></h3>
<div id="question-7" style="display: none;"><p>
The duration settings is quite simple; it can have two meanings (and both are
closely related):</p>
<ol>
  <li>The time that you are free to play on.</li>
  <li>The duration of the tennis match.</li>
</ol>
<p>It would be logically assumed that should the duration exceed over 3 hours,
then the duration indicates the time you are free to play on. For instance, if
you are free to play on anytime between Monday and Wednesday inclusive, you
would choose 3 days for the duration. Furthermore, you can narrow down to the
specific day and time later on.<br>
Should the duration be less than or equal to 3 hours, the duration should be
assumed to state how long you are willing to play for the tennis match.<br>
Of course, you could also clear this up by writing a brief description on the
match page.
</p></div>

<h3><a href="#" onclick="return toggleMe('question-8')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-8_image") %>
How do I use emojis in the chatbox?
</a></h3>
<div id="question-8" style="display: none;"><p>
There are many emojis you can use in the chat! To enter an emoji to a chatbox,
type the corresponding emoji code into the chatbox, and send the message. For
example, to send a smiley face, type in ":smile:" without the quotes and send
the message. If the emoji is entered correctly, then the emoji should be seen
in the chat box after you have sent it.<br>
To see the whole list of emoji codes that you can use, take a look at this
website: <a href="http://www.emoji-cheat-sheet.com/">http://www.emoji-cheat-sheet.com/</a>.
</p></div>

<h3><a href="#" onclick="return toggleMe('question-9')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-9_image") %>
Will there be any future updates and improvements to the web application?
</a></h3>
<div id="question-9" style="display: none;"><p>
A solid answer cannot be provided immediately. Depending on the success of our
initial application, we may decide to further extend it to reach out to all
popular sports in Australia and not just limited to tennis. We would also like
to further improve the user interface and user interactions to accomodate a
better matchmaking system. Other future potential extensions/features include
tie-ins with tennis clubs and local signin.
</p></div>

<h3><a href="#" onclick="return toggleMe('question-10')"><%= image_tag("bullet-point.png", alt: "&bull;", size: "24x24", id: "question-10_image") %>
My problem isn't listed here. Where can I find help?
</a></h3>
<div id="question-10" style="display: none;"><p>
Contact us through email at admin@tennismatchmaker.co. We will try to reply to
you as soon as possible.
</p></div>

